In [1]:
pip install scipy

Requirement already satisfied: scipy in c:\users\nirvi\appdata\local\programs\python\python311\lib\site-packages (1.11.4)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy<1.28.0,>=1.21.6 in c:\users\nirvi\appdata\local\programs\python\python311\lib\site-packages (from scipy) (1.26.2)

In [4]:
import pandas as pd
import numpy as np
from scipy.stats import skew, boxcox
import matplotlib.pyplot as plt

In [17]:
file_path = r'C:\Users\nirvi\OneDrive\Desktop\Programs\Mlcurrent\preprocessed_data2.xlsx'

df = pd.read_excel(file_path)
df.head()

            Commodity       Date Unit Minimum Maximum Average
0  Tomato Big(Nepali) 2013-06-16   Kg      35      40    37.5
1        Potato White 2013-06-16   Kg      15      16    15.5
2  Onion Dry (Indian) 2013-06-16   Kg      28      30      29
3       Carrot(Local) 2013-06-16   Kg      30      35    32.5
4             Lettuce 2013-06-16   Kg      55      60    57.5

In [11]:
pip install --upgrade pandas openpyxl

Requirement already satisfied: pandas in c:\users\nirvi\appdata\local\programs\python\python311\lib\site-packages (2.1.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: openpyxl in c:\users\nirvi\appdata\local\programs\python\python311\lib\site-packages (3.1.2)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\nirvi\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\nirvi\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\nirvi\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\nirvi\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: et-xmlfile in c:\users\nirvi\appdata\local\programs\python\python311\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in c:\users\nirvi\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [19]:
average_prices = df['Average'].dropna()

# Plot histogram
plt.figure(figsize=(8, 6))
plt.hist(average_prices, bins=30, edgecolor='black')
plt.title('Histogram of Average Prices')
plt.xlabel('Average Price')
plt.ylabel('Frequency')
plt.show()

TypeError: unsupported operand type(s) for +: 'float' and 'str'