In [2]:
import pandas as pd

# Load the data
file_path = r'C:\Final year Project\AgroPrice\price_prediction\management\commands\preprocessed_data.xlsx'
df = pd.read_excel(file_path)

# Define a function to clean and convert values to decimal
def clean_and_convert(value):
    try:
        if isinstance(value, str):
            return float(value.replace('Rs', '').replace(',', '').strip())
        elif isinstance(value, (int, float)):
            return float(value)
        else:
            return None
    except ValueError:
        return None

# Apply the cleaning function to relevant columns
df['Minimum'] = df['Minimum'].apply(clean_and_convert)
df['Maximum'] = df['Maximum'].apply(clean_and_convert)
df['Average'] = df['Average'].apply(clean_and_convert)

# Display the cleaned DataFrame
df.head()

            Commodity       Date Unit  Minimum  Maximum  Average
0  Tomato Big(Nepali) 2013-06-16   Kg     35.0     40.0     37.5
1        Potato White 2013-06-16   Kg     15.0     16.0     15.5
2  Onion Dry (Indian) 2013-06-16   Kg     28.0     30.0     29.0
3       Carrot(Local) 2013-06-16   Kg     30.0     35.0     32.5
4             Lettuce 2013-06-16   Kg     55.0     60.0     57.5

In [3]:
cleaned_file_path = r'C:\Final year Project\AgroPrice\price_prediction\management\commands\cleaned_data.xlsx'
df.to_excel(cleaned_file_path, index=False)

print(f"Cleaned data saved to: {cleaned_file_path}")

Cleaned data saved to: C:\Final year Project\AgroPrice\price_prediction\management\commands\cleaned_data.xlsx